.border_color{
    width:200px;
    height:100px;
    border:10px solid transparent;
    border-radius: 15px 0 15px 0;

    -moz-border-top-colors:#a0a #909 #808 #707 #606 #505 #404 #303;
    -moz-border-right-colors:#a0a #909 #808 #707 #606 #505 #404 #303;
    -moz-border-bottom-colors:#a0a #909 #808 #707 #606 #505 #404 #303;
    -moz-border-left-colors:#a0a #909 #808 #707 #606 #505 #404 #303;

    -webkit-border-top-colors:#a0a #909 #808 #707 #606 #505 #404 #303;
    -webkit-border-right-colors:#a0a #909 #808 #707 #606 #505 #404 #303;
    -webkit-border-bottom-colors:#a0a #909 #808 #707 #606 #505 #404 #303;
    -webkit-border-left-colors:#a0a #909 #808 #707 #606 #505 #404 #303;
    
    -o-border-top-colors:#a0a #909 #808 #707 #606 #505 #404 #303;
    -o-border-right-colors:#a0a #909 #808 #707 #606 #505 #404 #303;
    -o-border-bottom-colors:#a0a #909 #808 #707 #606 #505 #404 #303;
    -o-border-left-colors:#a0a #909 #808 #707 #606 #505 #404 #303;
    
    -ms-border-top-colors:#a0a #909 #808 #707 #606 #505 #404 #303;
    -ms-border-right-colors:#a0a #909 #808 #707 #606 #505 #404 #303;
    -ms-border-bottom-colors:#a0a #909 #808 #707 #606 #505 #404 #303;
    -ms-border-left-colors:#a0a #909 #808 #707 #606 #505 #404 #303;

    -khtml-border-top-colors:#a0a #909 #808 #707 #606 #505 #404 #303;
    -khtml-border-right-colors:#a0a #909 #808 #707 #606 #505 #404 #303;
    -khtml-border-bottom-colors:#a0a #909 #808 #707 #606 #505 #404 #303;
    -khtml-border-left-colors:#a0a #909 #808 #707 #606 #505 #404 #303;
}